<div class="container clearfix">

  <div class="sixteen columns"> <h1 class="page-title">Services <span class="line"></span></h1> </div> <!-- Page Title -->

  <div id="description">
    <div class="sixteen columns">
      <div class="description bottom-2">
      <p>
        The experiential, affective, meaningful and valuable aspects of human-computer interaction and product ownership.

      </p>
      </div>
    </div>
  </div><!-- End description -->
  
  <div class="two-thirds column">
    <div class="methodology">
      <h2 class="title">Methodology <span class="line"></span></h2>
      <p>
        Sed at odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc et magna nisi.Aliquam at erat in          purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh.          Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. 
        <br /><br />
        malesuada tortor, nec scelerisque lorem mattis.
        Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer          commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum. 
        <br /><br />
        malesuada tortor, nec scelerisque lorem mattis.
        Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer          commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum. 
      </p>
      <br /><br />
    </div>
  </div><!-- End methodology -->
  
  <div class="one-third column">
    <div class="choose">
    
      <h2 class="title">Why Choose Us ? <span class="line"></span></h2>
      
      <ul>
        <li>Quick and convenient Localization Support</li>
        <li>Compatible with the latest WordPress </li>
        <li>Flexible, Responsive Layout </li>
        <li>Compatible with Major Browsers </li>
        <li>Attuned to Smartphones and Tablet PCs </li>
      </ul>
     
    </div>
  </div><!-- End choose -->
  
  <div class="clearfix"></div>

  <div class="our-services">
    <div class="sixteen columns"><h2 class="title">Our Services<span class="line"></span></h2></div>
      
      <div class="clearfix"></div>
      
      <ul>
        <li class="one-third column">
          <div class="icon-box"><%= image_tag "webdesign-small.png" %></div>
          <h3>Web Design</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><%= image_tag "branding-small.png" %></div>
          <h3>Branding</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><%= image_tag "development-small.png" %></div>
          <h3>Development</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><%= image_tag "wordpress-small.png" %></div>
          <h3>Wordpress</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><%= image_tag "seo-small.png" %></div>
          <h3>SEO Optmization</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><%= image_tag "social-small.png" %></div>
          <h3>Social Media</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
      </ul>
      
  </div><!-- End our-services -->
  
  <div id="welcome">
    <div class="sixteen columns">
      <div class="qoute">
        <div class="eleven columns omega">
          <h2>Perfect Premium Template for Showing Your Products</h2>
          <p>Crevision is a responsive HTML template created for corporate and portfolio websites. </p>
        </div>
        <div class="four columns alpha"><a href="#" class="link">Get a Free Quote Now</a></div>
      </div>
    </div>
  </div><!-- End Welcome -->
  
  <div class="clients clearfix">
  
    <div class="sixteen columns"> 
    
    <h2 class="title">Our Clients <span class="line"></span></h2> 
    <ul class="items">
      <li><a href="#"><img src="images/img/clients/client-1.jpg" alt="" /></a></li>
      <li><a href="#"><img src="images/img/clients/client-2.jpg" alt="" /></a></li>
      <li><a href="#"><img src="images/img/clients/client-3.jpg" alt="" /></a></li>
      <li><a href="#"><img src="images/img/clients/client-4.jpg" alt="" /></a></li>
      <li><a href="#"><img src="images/img/clients/client-5.jpg" alt="" /></a></li>
    </ul><!-- End items -->
    
    </div>
    
    
  </div><!-- End clients -->
   
</div><!-- <<< End Container >>> -->