<% content_for :english do %>
  <div class="two-thirds column">
    <nav id="menu" class="navigation">
      <ul id="nav">
        <li><%= link_to "Home", root_path, class: "#{'active' if current_page?(root_path)}" %></li>
        <li><%= link_to "About", about_path, class: "#{'active' if current_page?(about_path)}" %></li>
        <!--<li><%= link_to "Services", services_path, class: "#{'active' if current_page?(services_path)}" %></li>-->
        <li><%= link_to "Contact", contact_path, class: "#{'active' if current_page?(contact_path)}" %></li>
      </ul>
    </nav>
  </div><!-- End Menu -->
<% end %>

<div class="container clearfix">
  <div class="sixteen columns bottom">
  <h1 class="page-title"><%= link_to "Contact", contact_path %> / <span class="gray2">Email Received Confirmed</span><span class="line"></span></h1> </div>    <!-- Page Title -->

  <div id="description">
    <div class="sixteen columns">
      <div class="description bottom">
        <h1 class="big">Thanks!</h1>
        <p class="bottom-2">
         Thank you for contacting us!  We will get in touch with you as soon as we can.  
        </p>
        <%= link_to "Back To Home", root_path, class: "button medium black" %>
        <%= link_to "About Us", about_path, class: "button medium black" %>
      </div>
    </div>
  </div><!-- End description -->

  
   
</div><!-- <<< End Container >>> -->